
body {
    background-color: #fafafa;
}

.jumbotron {
    padding: 1.em;
    background-color: #42f2f7;
    font-family: 'Leckerli One', cursive;
}

.scrollable {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
