
body {
    background-color: #fafafa;
}

.jumbotron {
    padding: 0.6em;
    background-color: #42f2f7;
    font-family: 'Leckerli One' cursive sans-serif;
}

.jumbotron > h1 {
	margin-bottom: 0.5em;
}

.albumart {
    width: 60%;
    height: auto;
}

.scrollable {
    height: auto;
    max-height: 334px;
    overflow-x: hidden;
}

.nowplaying_title
{
	font-weight: bold;
}

.nowplaying_subtitle
{
	font-size: 0.7em;
}

.queue_title
{
	font-weight: bold;
}

.queue_subtitle
{
	font-size: 0.9em;
}
