<!DOCTYPE html>
<html ng-app="DJayyApp">
    <head>

     <meta charset="UTF-8"> 

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <!-- Angular Route -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>

    <!-- Angular Cookies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.min.js"></script>

    <!-- App JS -->
    <script src="app.js"></script>

    <!-- App CSS -->
    <link rel="stylesheet" href="app.css">

    </head>

    <body ng-controller="MainCtrl">
    
        <div class="page-header">
            <h1 class="text-center"><span class="glyphicon glyphicon-music"></span> DJayy</h1>
        </div>

        <div class="container">
        <div class="row">
            <div class="wrapper">
            <div class="col-md-8">
            <h3>Play Queue</h3>

            <ul class="list-group">
                <li ng-repeat="track in queue_page" class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">{{track.title}} - {{track.artist}}</div>
                        <div class="col-md-6">
                            <span class="pull-right">
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <button id="up" ng-click="server_trackVote($event, track.queue_id, 1)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-menu-up"></span></button>
                                <button id="down" ng-click="server_trackVote($event, track.queue_id, -1)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-menu-down"></span></button>
                            </div>
                            {{track.votes}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <button id="queue_back" ng-click="client_advanceQueuePage('left')"
                        ng-if="queue_page_start - 10 < 0" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-left"></span></button>
                </div>
                <div class="col-md-6"><span class="pull-right">
                    <button id="queue_next" ng-click="client_advanceQueuePage('right')"
                        ng-if="queue_page_start + 10 > queue_page_start + queue_page_start % 10" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-right"></span></button>
                </div></span>
            </div>
            </div>

            <div class="col-md-4">
                <h3>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" ng-model="q" class="form-control" placeholder="Search Library">
                </div>
                </h3>

                <ul class="list-group scrollable">
                    <li ng-repeat="track in library | filter:q as results" class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">{{track.title}} - {{track.artist}}</div>
                            <div class="col-md-2">
                                <span class="pull-right">
                                    <button id="add" ng-click="" class="btn btn-default-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        </div>

    </body>

</html>
