<!DOCTYPE html>
<html ng-app="DJayyApp">
    <head>

    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0.0">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>

    <!-- Angular Cookies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.min.js"></script>

    <!-- Angular Infinite Scroll -->
    <script src="js/ng-infinite-scroll.js"></script>

    <!-- App JS -->
    <script src="js/app.js"></script>

    <!-- App CSS -->
    <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">

    </head>

    <body ng-controller="MainCtrl">
    
        <div class="jumbotron">
            <h1 class="text-center"><big><span class="glyphicon glyphicon-music"></span> DJ<sub>a</sub>y<sup>y</sup></big></h1>
        </div>

        <div class="container">
        <div class="row">
            <div class="wrapper">
                <h1 ng-if="nowplaying.track.titl"><img ng-src="{{album_src}}"></img></h1>
            <div class="col-md-8">
            <h2>Play Queue</h2>

            <ul class="list-group">
                <li ng-repeat="i in client_queueRange()" class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">{{queue[i].title}} - {{queue[i].artist}}</div>
                        <div class="col-md-6">
                            <span class="pull-right">
                            <div class="btn-group btn-group-xs" data-toggle="buttons">
                                <button id="up" ng-click="server_trackVote($event, queue[i].queue_id, 1)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-menu-up"></span></button>
                                <button id="down" ng-click="server_trackVote($event, queue[i].queue_id, -1)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-menu-down"></span></button>
                            </div>
                            {{queue[i].votes}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <button id="queue_back" ng-click="client_moveQueuePage(queue_page_length * -1)"
                        ng-if="client_queueCanMoveBack()" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-left"></span></button>
                </div>
                <div class="col-md-6"><span class="pull-right">
                    <button id="queue_next" ng-click="client_moveQueuePage(queue_page_length)"
                        ng-if="client_queueCanMoveForward()" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-menu-right"></span></button>
                </div></span>
            </div>
            </div>

            <div class="col-md-4">
                <h3>
                <form ng-submit="server_search(q)" class="input-group input-group-lg">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" ng-model="q" class="form-control" placeholder="Search Library">
                </form>
                </h3>

                <ul class="list-group scrollable" id="inf-scroll"> 
                    <div infinite-scroll-container="'#inf-scroll'" infinite-scroll="client_loadMore(q)">
                    <li ng-repeat="track in search" class="list-group-item">
                        <div class="row">
                            <div class="col-md-10">{{track.title}} - {{track.artist}}</div>
                            <div class="col-md-2">
                                <span class="pull-right">
                                    <button id="add" ng-click="server_addToQueue(track)" class="btn btn-default-xs">
                                        <span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                            </div>
                        </div>
                    </li>
                    </div>
                </ul>
            </div>
            </div>
        </div>
        </div>

    </body>

</html>
